PORT=5000
MONGODB_URI=mongodb+srv://USUARIO:SENHA@HOST.mongodb.net/?appName=pfc
MONGODB_DB_NAME=pfc2026ifpr_db
JWT_SECRET=troque-este-segredo
JWT_EXPIRES_IN=7d
GOOGLE_API_KEY=sua-chave-google
FACT_CHECK_BASE_URL=https://factchecktools.googleapis.com
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
